## Configuración OAuth2 / Keycloak
AUTH_URL=http://sgi-auth:8080/auth

SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUERURI=${AUTH_URL}/realms/sgi
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI=${SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUERURI}/protocol/openid-connect/certs
